page-login {
    .bg-img {
        background: url('/assets/img/bg-phone3.jpg');
        background-position: 50% 50%;
        background-color: #5c6164;
        background-repeat: no-repeat;
        background-size: cover;
        color: #fff;
        height: 100%;
        padding: 0;
        border: 0;
        text-align: left;
    }
}