page-job-details {
    ion-content {
        #map {
            height: 200px;
        }
        .description p {
            line-height: 20px;
        }
    }
    ion-footer{
        position: relative;
    }
}
