page-modal {
    h2 {
        font-size: 1.5em;
        text-align: center;
    }
    h4 {
        font-size: 1em;
        font-weight: bold;
        &.job-title {
            font-size: 1.2em;
            text-align: center;
        }
    }
    p {
        font-weight: 300;
    }
    ion-navbar {
        button {
            &.myModal {
                float: right;
                
                margin: 8px 15px;
                span.button-inner {
                    font-size: 12px;
                }
            }
        }
    }
}

ion-grid {
    &.modal-bg {
        &.grid {
            background: #fff;
            padding: 25px;
            border-radius: 5%;
        }
    }
}

ion-content {
    &.modal-page {
        &.content-md {
            color: #000;
            background-color: rgba(0, 0, 0, 0.5);
        }
    }
}