page-modal {
    h2 {
        font-size: 1.5em;
        text-align: center;
    }
    h4 {
        font-size: 1em;
        font-weight: bold;
        &.job-title {
            font-size: 1.2em;
            text-align: center;
        }
    }
    p {
        font-weight: 300;
    }
    ion-navbar {
        button {
            &.myModal {
                float: right;
                font-size: 3.3rem;
                color: #fdb614;
                margin: 8px 15px;
                span.button-inner {
                    font-size: 12px;
                }
            }
        }
    }
}

ion-grid {
    &.modal-bg {
        &.grid {
            background: #fff;
            padding: 25px;
            border-radius: 2%;
        }
    }
    ion-row.options.row {
        margin-top: 10px;
    }
}

ion-content {
    &.modal-page {
        &.content-md {
            color: #000;
            background-color: rgba(0, 0, 0, 0.5);
        }
    }
    .options {
        ion-icon {
            display: block;
            text-align: center;
            font-size: 1.8em;
            &.check {
                color: green;
            }  
            &.close {
                color: red;
            }
            &.star {
                color: #fdb614;
            }
        }
        ion-icon:hover, ion-icon:active {
            font-weight: bold;
        }
    }
}

