ion-row {
    &.months {
        a {
            color: #42A5F5;
            position: relative;
            display: block;
            padding: 10px 10px;
            text-align: center;
        }
        a:hover {
            color: #fdb614;
            background: #404040;
        }
        a.selected {
            color: #fdb614;
            background: #404040;
        }
    }
    .job-description{
        padding: 0px 25px;
    }
}
ion-content {
    ion-card.months-worked {
        position: relative;
        text-align: center;
        height: 150px;
      }
    
      .card-title {
        position: absolute;
        top: 36%;
        font-size: 2.2em;
        width: 100%;
        font-weight: bold;
        color: #fff;
      }
    
      .card-subtitle {
        font-size: 1.2em;
        font-weight: bold;
        position: absolute;
        top: 60%;
        width: 100%;
        color: #fff;
      }
    h1 {
        text-align: center;
    }
    .job-header.col {
        padding: 0 50px;
        text-align: left;
        font-weight: bold;
        color: #86888b;
        h3 {
            font-size: 1.7rem;
        }
    }
    .job-title.col, .job-location.col {
        padding-left: 40px;
    }
    .job-title.col, .job-location.col {
        border-bottom: 1px solid #ddd;
    }
    .job-title.col {
        background: #f1f1f1;
    }
    .job-location.col {
        background: #f9f9f9;
    }
}
