page-sign-up {
    ion-grid {
        height: 100%;
        justify-content: space-around;
    }
    ion-item.item {
        margin: 15px 0;
    }
    ion-row.sign-up {
        margin-top: 75px;
    }
    ion-row.sign-up.row {
        margin-top: 100px;
        p {
            text-align: right;
        }
    }
    .bg-img {
        background: url('/assets/img/bg-phone.jpg');
        background-position: 50% 50%;
        background-color: #5c6164;
        background-repeat: no-repeat;
        background-size: cover;
        color: #fff;
        height: 100%;
        padding: 0;
        border: 0;
        text-align: left;
    }
    .logo {
        margin: 0 auto;
        height: 150px;
        text-align: center;
    }
    .login-details {
        margin: 0 40px;
    }
    .login-div {
        display: block;
        width: 310px;
        margin: 0 auto;
        p { 
            float: left;
        }
    }
    .login-btn {
        width: 100px;
        float: right;
    }
    button {
        width: 100%;
        &.sign-in {
            background: #fdb614;
            color: black;
        }
    }
    .signup-details {
        display: flex;
        width: 100%;
        ion-icon {
            float: left;
            align-self: center;
        }
        p {
            float: left;
            margin-left: 10px;
        }
    }
}


