page-build-profile {
    .backpage {
        padding: 15px;
        font-size: 2em;
    }
    h3 {
        text-align: left;
    }
    h5 {
        margin-top: 0px;
        margin-bottom: 15px;
    }
    .button-ios {
        width: 100%;
    }
    ion-row {
        margin: 0px 15px;
    }
    ion-content .list-ios > .item-block:first-child {
        margin-bottom: 15px;
    }
    ion-item.sin-field.item.item-block.item-ios.item-input {
        margin-bottom: 5px;
    }
    .list-ios > .item-block:first-child {
        border-top: 0;
    }
    ion-icon.avatar {
        display: block;
        font-size: 5rem;
    }
    .next {
        float: right;
        font-size: 2.5em;
        margin-right: 10px;
        ion-icon {
            color: #fdb614;
        }
    }
    .user-info {
        font-size: 16px;
    }
    .user-avatar {
        text-align: center;
    }
}
