page-matching-jobs {
    ion-navbar {
        .toolbar-background-ios {
            background: transparent;
        }
        .bar-button-default-ios {
            color: #404040;
        }
        .toolbar-background-md {
            background: transparent;
        }
        .toolbar-background.toolbar-background-ios {
            background: transparent;
        }
    }
}