bottom-toolbar {
    ion-footer {
        background-color: #cccccc;
        ion-col {
            &.time-icon {
                text-align: center;
            }
        }
        ion-icon {
            font-size: 2em;
            &.play {
                margin-right: 10px;
                color: green;
            }
            &.stop {
                color: red;
            }
        }
        .grid {
            padding: 0;
        }
        div {
            color: #000000;
            &.job-title {
                text-align: left;
            }
            &.job-details {
                width: 150px;
            }
        }
    }
}
