bottom-toolbar {
    ion-footer {
        background-color: #404040;
        ion-col {
            &.time-icon {
                text-align: center;
            }
        }
        ion-icon {
            font-size: 2em;
            &.ion-ios-play {
                margin-right: 10px;
                color: green;
            }
            &.ion-ios-square {
                color: red;
            }
        }
        div {
            color: #ffffff;
            &.job-title {
                text-align: left;
            }
            &.job-details {
                width: 150px;
            }
        }
    }
}
