<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col col-2 class="time-icon">
        <div>
            <ion-icon ios="ios-time-outline" md="md-time"></ion-icon>
        </div>
      </ion-col>
      <ion-col col-4>
          <div class="job-title">
              {{ text }}
          </div>
          <div class="job-details">
              Time: {{ minutes }}:{{ seconds }}:{{ milliseconds }} | Miles: {{ miles }}
              <p id="timer">
              </p>
              
          </div>
      </ion-col>
      <ion-col col-2 offset-4>
          <div class="buttons">
              <ion-icon class="play" name="play" (click)="timer();"></ion-icon>
              <ion-icon class="stop" name="pause" (click)="stopTimer();"></ion-icon>       
          </div>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-footer>
