page-email-signup  {
    ion-grid {
        height: 100%;
        justify-content: space-around;
    }
    .scroll-content {
        margin-top: 10px;
    }
    ion-item.item {
        margin: 15px 0;
    }
    ion-icon {
        margin-right: 10px;
    }
    ion-content {
        h2 {
            text-align: center;
        }
        .list-ios > .item-block:first-child {
            border-top: 0px
        }
    }    
    button {
        width: 100%;
        &.sign-in {
            background: #fdb614;
            color: black;
        }
    }
}

