/* font styling */
@font-face{
    font-family: 'Assistant', sans-serif;
    src: url('../assets/fonts/assistant.woff2') format('woff2');
}
     
*{
    font-family: 'Assistant', sans-serif;
    font-weight: lighter;
}
h1, h2, h3, h4, h5 {
    font-weight: 300!important;
}
.text-input {
    font-size: .8em;
}
// google map styling 
#map {
    height: calc(100% - 55px);
    width: 100%;
}
/* android platform styling - md */
ion-content {
    &.side-menu {
        .item-md {
            background: #404040;
        }
        .content.content-md {
            background: #404040;
            color: #fff;
        }
        .scroll-content {
            background: #404040;
        }
        .list-md .item-block .item-inner {
            color: #fff;
            border: none;
        }
    }
    .list-md {
        margin: 0px;
    }
    .list-md .item-block .item-inner {
        border: 0;
    }
}
ion-header {
    .bar-button-menutoggle-md ion-icon {
        font-size: 3.5rem;
    }
    .menu-logo {
        margin: 0 auto;
        height: 50px;
    }
    .toolbar-md {
        padding: 0;
    }
    .toolbar-background-md {
        background: #404040;
        color: #fff;
    }
    .toolbar-title-md {
        color: #fff;
        display: flex;
    }
}
.main-header {
    .toolbar-background.toolbar-background-md {
        background: #cccccc;
    }
}
/* ios platform styling */
ion-content {
    &.side-menu {
        .item-ios {
            background: #404040;
        }
        .content.content-ios {
            background: #404040;
            color: #fff;
        }
        .list-ios .item-block .item-inner {
            color: #fff;
            border: none;
        }
        .list-ios > .item-block:first-child {
            border: none;
        }
        .list-ios > .item-block:last-child {
            border: none;
        }
    }
    .list-ios {
        margin: 0px;
    }
    .list-ios .item-block .item-inner {
        border: 0;
    }
}
ion-header {
    .bar-button-menutoggle-ios ion-icon {
        font-size: 3.5rem;
    }
    .toolbar-ios {
        padding: 0;
    }
    .toolbar-background-ios {
        background: #404040;
        color: #fff;
    }
}
.main-header {
    .bar-button-default-ios {
        color: #000000;
    }
    .toolbar-background.toolbar-background-ios {
        background: #cccccc;
    }
}