ion-content {
    h1, h2, h3, h4, h5, p, span {
        font-weight: 400;
    }
    &.side-menu {
        .item-md {
            background: #404040;
        }
        .content.content-md {
            background: #404040;
            color: #fff;
        }
        .scroll-content {
            background: #404040;
        }
        .list-md .item-block .item-inner {
            color: #fff;
            border: none;
        }
    }
}
ion-header {
    .menu-logo {
        margin: 0 auto;
        height: 50px;
    }
    .toolbar-background-md {
        background: #404040;
        color: #fff;
    }
    .toolbar-title-md {
        color: #fff;
        display: flex;
    }
}
// ion-header toolbar header color for the pages
.main-header {
    .toolbar-background.toolbar-background-md {
        background: #cccccc;
    }
}
// google map styling 
#map {
    height: 100%;
    width: 100%;
}