ion-content {
    h1, h2, h3, h4, h5, p, span {
        font-weight: 400;
    }
    &.side-menu {
        .item-md {
            background: #404040;
        }
        .content.content-md {
            background: #404040;
            color: #fff;
        }
        .scroll-content {
            background: #404040;
        }
        .list-md .item-block .item-inner {
            color: #fff;
            border: none;
        }
    }
    .list-ios {
        margin: 0px;
    }
    .list-ios > .item-block:first-child {
        border-radius: 4px;
        border: 0.55px solid #c8c7cc;
    }
    .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
        border-radius: 4px;
        border: 0.55px solid #c8c7cc;
    }
    .list-ios .item-block .item-inner {
        border: 0;
    }
}
ion-header {
    .menu-logo {
        margin: 0 auto;
        height: 50px;
    }
    .toolbar-background-md {
        background: #404040;
        color: #fff;
    }
    .toolbar-title-md {
        color: #fff;
        display: flex;
    }
}
// ion-header toolbar header color for the pages
.main-header {
    .toolbar-background.toolbar-background-md {
        background: #cccccc;
    }
}
// google map styling 
#map {
    height: 100%;
    width: 100%;
}
@font-face{
    font-family: 'Nunito', sans-serif;
    src: url('../assets/fonts/nunito.woff2') format('woff2');
    }
     
    *{
    font-family: 'Nunito', sans-serif;
    font-weight: lighter;
    }