<ion-header class="main-header">
        <ion-navbar>
          <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
          <ion-icon name="notifications" class="myModal" (click)="openModal()"></ion-icon>
          <ion-title>
              <img src="/assets/img/logo3.png" class="menu-logo" >
          </ion-title>
        </ion-navbar>
      </ion-header>
<ion-content>
<sub-nav></sub-nav>
    <ion-grid>
    <ion-row>
        <ion-col col-12>
            <h1>Job History</h1>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-6 class="job-header">
            <h3>Position</h3>
          </ion-col>
          <ion-col col-6 class="job-header">
            <h3>Location</h3>
          </ion-col>
    </ion-row>
<!-- Job postings start here -->
    <ion-row (click)="expandJob(job)" *ngFor="let job of jobs">
      <ion-col col-6 class="job-title">
        <p>Accountant</p>
        <expandable [expandHeight]="itemExpandHeight" [expanded]="job.expanded">
            <ion-row class="info">
                <ion-col col-12>
                    <p>Start Date 2017/07/25</p>
                </ion-col>
                <ion-col col-12>
                    <p>End Date 2017/12/25</p>
                </ion-col>
                <ion-col col-12>
                    <p>Salary $170,750</p>
                </ion-col>
                <ion-col col-12>
                    <p>Extn. 8422</p>
                </ion-col>
            </ion-row>
        </expandable>
      </ion-col>
      <ion-col col-6 class="job-location">
          <p>Tokyo</p>
      </ion-col>
    </ion-row>

    <ion-row (click)="expandItem(item)" *ngFor="let item of items">
        <ion-col col-6 class="job-title">
        <p class="position-title">Integration Specialist</p>
        <expandable [expandHeight]="itemExpandHeight" [expanded]="item.expanded">
                <ion-row class="info">
                    <ion-col col-12>
                        <p>Start Date 2017/07/25</p>
                    </ion-col>
                    <ion-col col-12>
                        <p>End Date 2017/12/25</p>
                    </ion-col>
                    <ion-col col-12>
                        <p>Salary $170,750</p>
                    </ion-col>
                    <ion-col col-12>
                        <p>Extn. 8422</p>
                    </ion-col>
                </ion-row>
        </expandable>
        </ion-col>
        <ion-col col-6 class="job-location">
            <p>New York</p>
        </ion-col>
    </ion-row>
    </ion-grid>
</ion-content>

